.search-field {
  margin-top: 2rem;
  margin-left: 1rem;
}

.grid-item {
  width: 21rem;
  height: 33rem;
  padding: 2rem;
  max-width: 250px;
  grid-row: span 1;
  grid-column: span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0 1rem #1d1f24;
          box-shadow: 0 0 1rem #1d1f24;
  color: #1d1f24;
  border-radius: 0.3rem;
}

.grid-item__image {
  width: 85%;
  padding: 0.5rem;
}

.grid-item__info {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.grid-item__btn-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.grid-item__btn {
  padding: 0.5rem;
  background-color: #00b300;
  border-radius: 0.3rem;
}

.navbar {
  width: 100vw;
  height: 4rem;
  margin: 0;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.navbar__list {
  width: 100vw;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.navbar__list__link {
  text-decoration: none;
  margin: 1rem;
  color: #1d1f24;
  font-weight: bold;
}

.navbar__list__link:hover, .navbar__list__link:focus {
  color: hotpink;
  text-decoration: underline;
}

.navbar__cart-btn {
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #ffff;
}

.navbar-container {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1f24;
}

.navbar-container__logo {
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
}

.cart-content {
  position: static;
  width: 100vw;
  height: auto;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #1d1f24;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffff;
  text-align: center;
  padding: 1rem;
}

.cart-content__info-container {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #ffff;
  color: #1d1f24;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-content__img {
  width: 6rem;
}

.cart-content__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-content__btn {
  background-color: #ffff;
  border: none;
}

.hidden {
  display: none;
}

#fp-container {
  width: 100vw;
  height: auto;
  background-color: #ffff;
}

#fp-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#fp-main .item-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  #fp-main .item-list {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__list {
    margin-left: 5rem;
  }
  .navbar__cart-btn {
    margin-right: 5rem;
  }
  .search-field {
    margin-top: 2rem;
    margin-left: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  #fp-main .item-list {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  #fp-main .item-list {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #1d1f24;
  font-family: "Overpass", sans-serif;
}
/*# sourceMappingURL=style.css.map */