.hero {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    align-items: center;
    justify-content: center;
}