.cart-content {
  position: static;
  width: 100vw;
  height: auto;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: $primary-color;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: $primary-text-color;
  text-align: center;
  padding: 1rem;

  &__info-container {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: $primary-base-color;
    color: $secondary-text-color;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 6rem;
  }

  &__btns-container {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    background-color: $primary-base-color;
    border: none;
  }
}

.hidden {
  display: none;
}
