#fp-container {
  width: 100vw;
  height: auto;
  background-color: $primary-base-color;
}

#fp-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;

  .item-list {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    gap: 0.5rem;
    margin: 1rem;
  }
}
