@media only screen and (min-width: 600px) {
  #fp-main .item-list {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 768px) {
  #fp-main .item-list {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 992px) {
  #fp-main .item-list {
    grid-template-columns: auto auto auto auto;
  }
}
