.navbar {
  width: 100vw;
  height: 4rem;
  margin: 0;
  background-color: $primary-base-color;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  &__list {
    width: 100vw;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__link {
      text-decoration: none;
      margin: 2rem;
      color: $primary-color;
      font-size: larger;

      &:hover,
      &:focus {
        color: $active-link-color;
        text-decoration: underline;
      }
    }
  }
}
