.grid-item {
  width: 21rem;
  height: 33rem;
  padding: 1rem;
  max-width: 250px;
  grid-row: span 1;
  grid-column: span 1;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 0 0.5rem $primary-color;
  color: $primary-color;
  border-radius: 0.3rem;

  &__image {
    width: 85%;
    padding: 0.5rem;
  }

  &__info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  &__btn-container {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  &__btn {
    padding: 0.5rem;
    background-color: $btn-primary-color;
    border-radius: 0.3rem;
  }
}
