//Include in variables.css

$primary-color: #1d1f24;
$primary-base-color: #ffff;
$secondary-color: #1d1f24;
$primary-text-color: #1d1f24;
$secondary-text-color: #1d1f24;
$active-link-color: hotpink;
$border-color: #1d1f24;
$border-shadow: #1d1f24;
