@import "../components/ProductCard/ProductCard", "../components/Header/Header",
  "../components/Navbar/Navbar", "../pages/Home/Home", "../pages/Staff/Staff",
  "../pages/BadURL404/BadURL404", "./variables";

@import url("https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
  color: #1d1f24;
  font-family: "Overpass", sans-serif;
}
