@import url("https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap");
.grid-item {
  width: 100%;
  height: 50vh;
  padding: 1rem;
  margin-left: 3rem;
  grid-row: span 1;
  grid-column: span 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-shadow: 0 0 0.5rem #1d1f24;
          box-shadow: 0 0 0.5rem #1d1f24;
  color: #1d1f24;
  border-radius: 0.3rem;
}

.grid-item__image {
  width: 85%;
  padding: 0.5rem;
}

.navbar-container {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1f24;
}

.navbar-container__logo {
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
}

.navbar {
  width: 100vw;
  height: 4rem;
  margin: 0;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.navbar__list {
  width: 100vw;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar__list__link {
  text-decoration: none;
  margin: 2rem;
  color: black;
  font-size: larger;
}

.navbar__list__link:hover, .navbar__list__link:focus {
  color: hotpink;
  text-decoration: underline;
}

#fp-container {
  width: 100vw;
  height: auto;
  background-color: #ffff;
}

.item-list {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[4];
      grid-template-columns: repeat(4, minmax(25rem, 1fr));
  gap: 3rem;
  margin: 6rem;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #1d1f24;
  font-family: "Overpass", sans-serif;
}
/*# sourceMappingURL=style.css.map */